<div class="header" >
  <a href="/" class="logo">
    <span class="grey-color"> &lt;</span>
    <span class="logo-name">{{intro.username}}</span>
    <span class="grey-color">/&gt;</span>
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn">
  <label class="menu-icon" for="menu-btn">
    <span class="navicon"></span>
  </label>
  <ul class="menu">
    <!-- <li >
      <a >Hello</a>
    </li> -->
    <li routerLink="/introduction">
      <a >About Me</a>
    </li>
    <li>
      <a routerLink="/skills">Skills</a>
    </li>
    <li>
      <a >Journey</a>
    </li>
    <li>
      <a >Projects</a>
    </li>
    <li>
      <a >Achievements</a>
    </li>
  </ul>
</div>
