@import 'src/scss/utilis/_config.scss';

a {
  color: $secondary-text-color;
  font-size: 20px;
  font-family: $heading-font;
  transition: color 0.2s ease-in;
}

.active-link {
  a {
    color: $primary-text-color;
  }
}

.header {
  max-width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid $secondary-color;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;

    &:hover {
      color: $primary-text-color;
      cursor: pointer;
    }
  }

  .logo {
    display: block;
    flex: none;
    float: left;
    font-size: 1.1em;
    text-decoration: none;
    padding: 15px 20px;
    line-height: normal;

    &-name {
      color: $primary-text-color;
      font-weight: bold;
      font-family: $heading-font;
      padding: 0 10px;
    }
  }

  .menu {
    clear: both;
    font-size: 1em;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;

    .navicon {
      background: $primary-text-color;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;

      &:before,
      &:after {
        background: $primary-text-color;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 5px;
      }

      &:after {
        top: -5px;
      }
    }
  }

  // Menu Button
  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 486px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent !important;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

// Media Queries
@media (min-width: 48em) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      float: left;
    }

    .menu {
      max-height: none;
    }

    .menu-icon {
      display: none;
    }

    .logo {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 12px;

    .logo {
      font-size: 1.5em;
    }
  }
}
