<div class="intro-main" id="introduction">
  <div class="introduction-main">
    <div class="introduction-text-div">
      <div>
        <h1 class="introduction-text css-typing" >
          <p>{{'Hello World 👨‍💻!!'}}</p>
          <p>{{intro.title}}</p>
        </h1>
        <p class="introduction-text-p subTitle" >
          {{intro.subTitle}}
        </p>
        <app-social-media></app-social-media>
        <div class="button-introduction-div">
          <!-- <app-button text="Check out my profile" [link]="intro.resumeLink"></app-button> -->
        </div>
      </div>
    </div>

  </div>
</div>
