// Variáveis
$subTitle: #666; // Defina a cor do subtítulo
$textColor: #333; // Defina a cor do texto principal
$animationBorderColor: orange; // Cor da borda da animação

// Estilos globais
.main,
.intro-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
}

.main {
  margin-top: 4rem;
}

.intro-main {
  margin-top: 2rem;
}

.subTitle {
  color: $subTitle;
}

// Seção de saudação
.introduction-main {
  display: flex;

  > * {
    flex: 1;
    margin-bottom: 30px;
  }
}

.button-introduction-div {
  display: flex;
  margin-top: 20px;
}

.introduction-text {
  font-size: 40px;
  line-height: 1.1;
  color: $textColor;
}

.introduction-text-p {
  font-size: 30px;
  line-height: 40px;
}

// Animação de digitação
.css-typing p {
  font-family: 'JetBrains Mono', monospace;
  border-right: 0.15em solid $animationBorderColor;
  white-space: nowrap;
  overflow: hidden;

  &:nth-child(1) {
    width: 9.5em;
    animation: type 2s steps(40, end) forwards;
  }

  &:nth-child(2) {
    width: 6em;
    opacity: 0;
    animation:
      type2 2s steps(20, end) forwards,
      blink 0.5s step-end infinite alternate;
    animation-delay: 2s;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid $animationBorderColor;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

// Media Queries
@media (max-width: 1380px) {
  .introduction-text {
    font-size: 40px;
  }

  .introduction-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .button-introduction-div {
    justify-content: space-around;
  }

  .introduction-text {
    font-size: 30px;
    text-align: center;
  }

  .introduction-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .introduction-main {
    display: block;
  }

  .introduction-image-div {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}
