<div class="social-media-div">
  <a
    [href]="socialMediaLinks.github"
    class="icon-button"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i><fa-icon [icon]="faGithub"></fa-icon></i>
  </a>
  <a
    [href]="'mailto:' + socialMediaLinks.gmail"
    class="icon-button"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i><fa-icon [icon]="faEnvelope"></fa-icon></i>
  </a>
  <a
    [href]="socialMediaLinks.linkedin"
    class="icon-button"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i><fa-icon [icon]="faLinkedin"></fa-icon></i>
  </a>
</div>
