@import 'src/scss/utilis/_config.scss';

$iconSize: 2.6rem;
$iconFontSize: 1.3rem;

.social-media-div {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.icon-button {
  margin-bottom: 10px;
  margin-left: 10px;
  color: $secondary-text-color;

  i {
    color: $secondary-text-color;
    background-color: transparent;
    border-radius: $iconSize;
    cursor: pointer;
    display: inline-block;
    font-size: $iconFontSize;
    height: $iconSize;
    line-height: $iconSize;
    margin: 0 5px;
    position: relative;
    text-align: center;
    user-select: none;
    width: $iconSize;
    transition: background-color 0.2s ease-in;

    &:hover {
      color: $primary-color;
      background-color: $primary-text-color;
    }
  }
}
